{% extends "base_lamec.html" %}
{% block title %}LAMEC - Bull Racing{% endblock %}

{% block content %}
    <header class="simcompi-hero" style="background-image: linear-gradient(rgba(12, 13, 13, 0.7), rgba(40, 1, 21, 0.7)), url('{{ url_for('static', filename='images/backgrounds/bull-banner-horizontal.jpg') }}');">
        <img src="{{ url_for('static', filename='images/brand/bullracing-logo.png') }}" alt="BULL RACING Logo" class="logo-image" style="max-width: 300px;">
    </header>

    <section class="simcompi-intro">
        <p>Bull Racing is the first Formula SAE team in Piauí, formed by students from the Universidade Federal do Piauí (UFPI). The project brings together students from Mechanical Engineering, Electrical Engineering, Materials Engineering, Production Engineering and even Journalism, who work together to develop a high-performance racing car.</p>
        <br>
        <p>The team participates annually in the Formula SAE Brazil competition, where they seek to improve their knowledge in automotive engineering, project management and technological innovation. With dedication and a spirit of collaboration, Bull Racing represents Piauí on the national stage, proving that talent and perseverance can take innovation even further.</p>
        <div class="subscribe-btn-container">
            <a href="https://instagram.com/bullracing_fsae/" class="btn btn-primary">Visit the Instagram</a>
        </div>
    </section>

    <div style="width: 100%; max-width: 1200px; margin: 40px auto; text-align: center;">
        <iframe src="https://instagram.com/bullracing_fsae/embed" width="100%" height="700px" style="border: none; max-width: 1200px; display: inline-block;" title="Convidados do Evento"></iframe>
    </div>

    <section class="logos-wrapper">
        <h2 class="section-title"><span>Patrocinadores e Apoiadores</span></h2>
        <h3>Diamante</h3>
        <div class="logos-container">
            <img src="{{ url_for('static', filename='images/extension/bull/bosch-logo.png') }}" alt="Bosc">
        </div>
        <h3>Ouro</h3>
        <div class="logos-container">
            <img src="{{ url_for('static', filename='images/extension/bull/dremell-logo.png') }}" alt="Dremel">
            <img src="{{ url_for('static', filename='images/extension/bull/oig-logo.jpg') }}" alt="one internet group">
            <img src="{{ url_for('static', filename='images/extension/bull/sia-logo.svg') }}" alt="sia abrasives">
        </div>
        <h3>Prata</h3>
        <div class="logos-container">
            <img src="{{ url_for('static', filename='images/extension/bull/vmachado-logo.png') }}" alt="V Machado">
        </div>
        <h3>Bronze</h3>
        <div class="logos-container">
            <img src="{{ url_for('static', filename='images/extension/bull/autosuprir-logo.jpg') }}" alt="autosuprir auto peças">
        </div>
    </section>
{% endblock %}