{% extends "components/base.html" %}
{% block title %}LAMEC - Contato do Evento{% endblock %}

{% block content %}

    <div class="container" style="text-align: left;">
        <a href="{{ url_for('proceedings.simcompi') }}" class="btn btn-outline" style="margin: 20px 0;"><i class="fa-solid fa-arrow-left"></i> Voltar para a página do evento</a>
    </div>

    <main class="contact-section container" id="contact" style=" margin-bottom: 60px;">
        <div class="contact-grid">
            <div class="contact-info dark-card">
                <p>Estamos à disposição para ajudar com dúvidas ou informações sobre o SIMCOMPI. Entre em contato conosco:</p>
                <h4 style="margin-top: 20px;">E-mail Oficial do Evento</h4>
                <p> simcompiaui@gmail.com</p>
                
                <h4 style="margin-top: 20px;">Local do Evento</h4>
                <p>Auditório do Centro de Tecnologia<br>Universidade Federal do Piauí (UFPI)<br>Teresina - PI, Brasil</p>

                <h4 style="margin-top: 20px;">Redes Sociais</h4>
                <div class="social-icons">
                    <a href="https://www.instagram.com/simcompi" target="_blank" rel="noopener" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}