{% extends "components/base.html" %}
{% block title %}LAMEC - Projeto Faísca{% endblock %}

{% block content %}
    <header class="simcompi-hero" style="background-image: linear-gradient(rgba(0, 2, 3, 0.7), rgba(0, 0, 0, 0.7)), url('{{ url_for('static', filename='images/backgrounds/home/fire-background.jpg') }}');">
        <img src="{{ url_for('static', filename='images/brand/faisca-logo.png') }}" alt="FAÍSCA Logo" class="logo-image" style="max-width: 300px;">
    </header>

    <section class="simcompi-intro">
        <p>Faísca is a project that aims to strengthen the Female Presence in Mechanical Engineering, promoting a more inclusive, welcoming and motivating environment. The initiative seeks to encourage female students to participate, offering support, inspiration, and representation to overcome challenges and drive change in the field.</p>
        
        <div class="subscribe-btn-container">
            <a href="https://instagram.com/faisca.ufpi/" class="btn btn-primary" target="_blank" rel="noopener">Visit the Instagram</a>
        </div>
    </section>
{% endblock %}